<h1> Welcome to Codezilla </h1>

<p>Hello my fellow coders and welcome to Codezilla.</p>

<p>Join a team today and begin the experience today!!</p>

<a href="/teams"> See Team List </a>

<a href="/teams/new"> Add New Team </a>
