<h1> Register as a member </h1>

<form action="/members" method="post">
  <label for="make">Your name:</label>
  <input id="make" name="make" type="text">

  <label for="model">Your age:</label>
  <input id="model" name="model" type="text">

  <label for="year">Your credentials:</label>
  <input id="year" name="year" type="text">

  <button type="submit">Register</button>
  </form>
