<h1> Add a Team </h1>

<p>Create your Team here</p>

<form action="/teams" method="post">
  <label for="name"> Team Name:</label>
  <input id="name" name="name" type="text">
  <button type="submit"> Create </button>
</form>  
